<li>
  Posted on: {{listing.date}} by: {{listing.poster}} "{{listing.title}}"
</li>

{{update-listing listing=listing updateListing="updateListing"}}
<button {{action "destroyListing" listing}}>Delete Listing</button>
