{{#if addNewListing}}
  <h3>Create a New Listing</h3>
  <form class="form-group">
    <div>
      <label>Date</label>
      {{input value=date id="date" type="date"}}
    </div>
    <div>
      <label>Title</label>
      {{input value=title id="title"}}
    </div>
    <div>
      <label>Poster</label>
      {{input value=poster id="poster"}}
    </div>
    <div>
      <label>Body</label>
      {{input value=body id="body"}}
    </div>
    <button {{action "saveListing"}}>Save Listing</button>
  </form>
{{else}}
  <button {{action "showNewListingForm"}}>Create Listing</button>
{{/if}}
