{{#if updateListingForm}}
  <h3>Update Listing</h3>
  <form class="form-group">
    <div>
      <label>Date</label>
      {{input value=date id="date" placeholder=listing.date type="date"}}
    </div>
    <div>
      <label>Title</label>
      {{input value=title id="title" placeholder=listing.title}}
    </div>
    <div>
      <label>Poster</label>
      {{input value=poster id="poster" placeholder=listing.poster}}
    </div>
    <div>
      <label>Body</label>
      {{input value=body id="body" placeholder=listing.body}}
    </div>
    <button {{action "updateListing" listing}}>Update Listing</button>
  </form>
{{else}}
  <button {{action "showUpdateListingForm"}}>Update Listing</button>
{{/if}}
